body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .menu ul {
    list-style: none;
    display: flex;
}

.navbar .menu ul li {
    margin: 0 15px;
}

.navbar .menu ul li a {
    text-decoration: none;
    color: #fff;
}

.hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar .menu {
        display: none;
    }

    .navbar .hamburger-menu {
        display: block;
    }

    .navbar .responsive .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 20px;
        background-color: #333;
        width: 100%;
    }
    .navbar .menu ul li a {
        text-decoration: none;
        color: #000;
    }
    
}
